.hover-link {
  cursor: pointer;
  display: inline-block;
  span {
    transition: all 0.5s;
    @include text-shadow-timing;
  }

  &:hover {
    span {
      @include text-shadow-timing;
    }
  }
}
