/////////////////// - FONT FAMILIES - ///////////////////
.header {
  font-family: "Righteous", sans-serif;
}

h3,
nav,
.contact,
.home,
.projects {
  font-family: "Source Code Pro", sans-serif;
}

/////////////////// - FONT SIZES - ///////////////////
.contact-list li a {
  font-size: 0;
}

.home,
.home-link span,
.desc,
.contact,
.modal-text {
  font-size: 18px;
}

.donation-calculation {
  font-size: 22px;
}

.header {
  font-size: 45px;
}

.nav-link {
  font-size: x-large;
}

h3,
.close {
  font-size: xx-large;
}

@media screen and (min-width: 1000px) {
  .donation-calculation {
    font-size: 29px;
  }

  .podscript,
  .botweek,
  .resilience,
  .peacetree,
  .slice-of-life {
    font-size: 40px;
  }

  .header {
    font-size: 80px;
  }

  .home,
  .home-link span,
  .desc,
  .contact,
  .contact-list li a {
    font-size: x-large;
  }

  .nav-link {
    font-size: xx-large;
  }
}

/////////////////// - FONT WEIGHT - ///////////////////
p,
hover-link span,
.modal-text,
.contact-list li a {
  font-weight: 300;
}

h3,
.hover-link:hover span {
  font-weight: 700;
}

/////////////////// - TEXT COLOR - ///////////////////
a,
p,
.header,
.hover-link,
nav-link,
.close,
.modal-link,
.ReactModalPortal {
  @include themed() {
    color: t($text);
  }
}

.modal.collapsed.close {
  color: transparent;
}

/////////////////// - TEXT DECORATION - ///////////////////
.hover-link,
nav-link {
  text-decoration: underline;
}

/////////////////// - TEXT ALIGNMENT - ///////////////////
h3,
.contact,
.desc {
  text-align: left;
}

.root,
.App,
.contact-list,
.projects,
.project-section {
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .contact-list {
    text-align: left;
  }
}

/////////////////// - TEXT SHADOW - ///////////////////
.header {
  @include themed() {
    text-shadow: -0.04em 0 t($tsl), 0.04em 0 t($tsr);
  }
  &:hover {
    text-shadow: none;
  }
}

@media screen and (min-width: 1000px) {
  .podscript:hover {
    @include themed() {
      text-shadow: -9.3em 0 t($tsl), 9.3em 0 t($tsr);
    }
  }
  .botweek:hover {
    @include themed() {
      text-shadow: -9em 0 t($tsl), 9em 0 t($tsr);
    }
  }
  .resilience:hover {
    @include themed() {
      text-shadow: -11em 0 t($tsl), 11em 0 t($tsr);
    }
  }
  .peacetree:hover {
    @include themed() {
      text-shadow: -9.3em 0 t($tsl), 9.3em 0 t($tsr);
    }
  }
  .slice-of-life:hover {
    @include themed() {
      text-shadow: -10.5em 0 t($tsl), 10.5em 0 t($tsr);
    }
  }
  .donation-calculation:hover {
    @include themed() {
      text-shadow: -15.5em 0 t($tsl), 15.5em 0 t($tsr);
    }
  }
}
