.body,
.body_link,
.body_link_leading {
  font-family: "Source Code Pro", sans-serif;
  font-size: 22px;
}

.body_link,
.body_link_leading {
  display: inline-block;
  line-height: 1em;
}

.body {
  display: grid;
  grid-column-gap: 1em;
}

.profilePic {
  width: 85%;
  margin: auto;
  grid-column: 1;
}

.desc {
  grid-row: 2;
  line-height: 1.5em;
  text-align: left;
  font-size: 22px;
  width: 85%;
  margin: auto;
}

a {
  color: #000;
  text-decoration: underline;
  .hover-shadow span {
    font-weight: 100;
    font-size: 22px;
    transition: all 0.5s;
    border-bottom: 1px solid;
  }
}

/* Tablet and 20px  */
@media screen and (min-width: 1000px) {
  .body {
    grid-template-columns: repeat(2, 1fr);
  }

  .desc {
    grid-row: 1;
    grid-column: 2;
    margin: 5%;
  }

  .profilePic {
    width: 60%;
  }
}
