h3 {
  font-family: "Source Code Pro", sans-serif;
  font-weight: bolder;
  text-align: left;
  font-size: xx-large;
  margin: 0;
}

h1 {
  margin: 0 0 12px;
  font-size: 34px;
}

#description {
  font-size: large;
}

.close {
  position: absolute;
  color: black;
  top: -1px;
  right: 11px;
  font-size: xx-large;
  transition: all 0.6s;
  &:hover {
    cursor: pointer;
  }
}

.projects {
  font-family: "Source Code Pro", sans-serif;
  text-align: center;
  font-size: larger;
}
.projects {
  display: grid;
}

.project_section {
  background-color: white;
  border: 4px black solid;
  margin: 50px 20px;
  text-align: center;
  border-radius: 10px;

  h3 {
    grid-row: 1;
    padding: 20px;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    text-align: center;
    .podscript,
    .botweek,
    .resilience,
    .peacetree,
    .slice-of-life,
    .donation-calculation {
      font-size: xx-large;
      padding: 0;
    }
  }

  a {
    font-size: large;
    padding: 0 0 0 8px;
    padding: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    transition: all 0.5s;
    transition-property: height;
    transition-duration: 1s;
    overflow: hidden;
  }
  li {
    padding: 0.5em 0;
  }

  article {
    max-height: 0;
    transition: all 0.5s ease-in;
    color: white;
    overflow: hidden;
  }

  &:hover article {
    max-height: 100%;
    transition: all 0.5s ease-out;
  }
}

h3 a {
  color: black;
  cursor: pointer;
  text-shadow: none;
  span {
    font-weight: 700;
    transition: all 0.5s;
    border-color: transparent !important;
  }
}

.visually-hidden {
  visibility: hidden;
  height: 0px;
  transition-property: height;
  transition-duration: 1s;
  overflow: hidden;
}

.ReactModal__Content--after-open a {
  margin: 10px 0 0;
  display: block;
}

#modal {
  transition: all 0.5s ease-out;
}

.modal {
  overflow: hidden;
  transition: all 0.5s ease-out;
  height: auto;
  max-height: 600px;
}
.modal.collapsed {
  max-height: 0;
  .close {
    color: transparent;
  }
}

/* Tablet and larger  */
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 40px;
  }

  .projects_wrapper {
    width: 25%;
    margin: auto;
  }

  .project_section {
    display: grid;
    column-gap: 50px;
    background-color: white;
    margin: 50px auto;
    h3 {
      .podscript,
      .botweek,
      .resilience,
      .peacetree,
      .slice-of-life {
        span {
          font-size: 40px;
        }
      }
      .donation-calculation {
        font-size: 29px;
      }
    }
    .podscript:hover {
      text-shadow: -11.8em 0 #f1a0ff, 11.8em 0 #74c7e8;
    }
    .botweek:hover {
      text-shadow: -11.5em 0 #f1a0ff, 11.5em 0 #74c7e8;
    }
    .resilience:hover {
      text-shadow: -13.5em 0 #f1a0ff, 13.5em 0 #74c7e8;
    }
    .peacetree:hover {
      text-shadow: -11.8em 0 #f1a0ff, 11.8em 0 #74c7e8;
    }
    .slice-of-life:hover {
      text-shadow: -13.5em 0 #f1a0ff, 13.5em 0 #74c7e8;
    }
    .donation-calculation:hover {
      text-shadow: -15.5em 0 #f1a0ff, 15.5em 0 #74c7e8;
    }
  }
}
